#body {
background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbarmargin {
	margin-top: 10px;
}

.img {
	max-width:100%;
	max-height:100%;
}

.rounded {
	border-radius: 20%;
}



.img-circular{
 width: 200px;
 height: 200px;
 background-image: url('https://avatars3.githubusercontent.com/u/13280129?s=400&u=51a65c69af2feacb95ce754e01d02c9153e49102&v=4');
 background-size: cover;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin-left: auto; 
 margin-right: auto;
 margin-top: 40px;
}

.fa {

	padding: 20px;
	font-size: 40px;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: ;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: ;
}
.fa-github:hover {
    background-color: white;
}

.center {
	 margin-left: auto; 
 	margin-right: auto;
}




